<div class="container-fluid card rounded">
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="3">
          <h2>Article | Liste complète</h2>
        </th>
        <th></th>
      </tr>
      <tr>
        <th scope="col">État</th>
        <th scope="col">Nature</th>
        <th scope="col">Auteur(s)</th>
        <th scope="col">Titre</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span class="w-75 badge badge-primary">Prêt à la publication</span></td>
        <td><a href="#">Numéro spécial</a></td>
        <td><a href="#">Maldamé (Jean-Michel)</a></td>
        <td><a href="#">Scientifiques en désir de métaphysique</a></td>
      </tr>
      <tr>
        <td><span class="w-75 badge badge-warning">En préparation</span></td>
        <td><a href="#">Article</a></td>
        <td><a href="#">Caspar (Philippe)</a></td>
        <td><a href="#">Les mises en observation (MEO) selon la procédure urgente : essai de synthèse</a></td>
      </tr>
      <tr>
        <td><span class="w-75 badge badge-success">Publié</span></td>
        <td><a href="#">Article</a></td>
        <td><a href="#">Antoine (Jean-Pierre)</a></td>
        <td><a href="#">L'analyse en ondelettes : De la recherche pétrolière aux reliques du Big Bang</a></td>
      </tr>
      <tr>
        <td><span class="w-75 badge badge-danger">Abandonné</span></td>
        <td><a href="#">Analyse critique</a></td>
        <td><a href="#">Ponce (Augusto)</a></td>
        <td><a href="#">Analyse critique / compte rendu oeuvres complètes La Vallée Poussin</a></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
