<div>
  <div class="sidenav">
    <app-carousel></app-carousel>
  </div>
  <div class="main bg-light">
    <div>
      <div class="login-form">
        <div class="card">
          <img class="card-img-top userImgProfile" src="../../assets/img/user/userProfile.png">
          <div class="card-body">
            <form [formGroup]="authentifiantsForm">
              <div class="form-group">
                <label>Adresse e-mail</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-user"></i></div>
                  </div>
                  <input type="text" class="form-control"
                    [class.is-valid] = "authentifiantsForm.get('email').valid"
                    [class.is-invalid] = "authentifiantsForm.get('email').invalid && authentifiantsForm.get('email').touched"
                    formControlName="email" placeholder="exemple@gmail.com">
                </div>
                <div class="text-center" *ngIf="(emailCo.invalid && emailCo.touched) || emailCo.dirty">
                  <small *ngIf="emailCo.errors?.required" class="text-danger">Veuillez renseignez une adresse mail</small>
                  <!--question mark(?) is a safe navigation operator-->
                  <small *ngIf="emailCo.errors?.pattern" class="text-danger">Veuillez renseignez une adresse mail valide</small>
                </div>
              </div>
              <div class="form-group">
                <label>Mot de passe</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-key"></i></div>
                  </div>
                  <input type="password" class="form-control"
                    [class.is-valid] = "authentifiantsForm.get('mdp').valid"
                    [class.is-invalid] = "authentifiantsForm.get('mdp').invalid && authentifiantsForm.get('mdp').touched"
                    formControlName="mdp" placeholder="Mot de passe">
                </div>
                <div class="text-center" *ngIf="(mdpCo.invalid && mdpCo.touched) || mdpCo.dirty">
                  <small *ngIf="mdpCo.errors?.required" class="text-danger">Veuillez renseignez votre mot de passe</small>
                  <!--question mark(?) is a safe navigation operator-->
                  <small *ngIf="mdpCo.errors?.pattern" class="text-danger">Veuillez renseignez un mot de passe valide</small>
                </div>
                <div class="text-center"><a href="#" routerLink='/reinitialisation'>Mot de passe oublié ?</a></div>
              </div>
              <button (click)="onSignIn()" type="submit" class="btn btn-lg btn-block btn-primary mb-4">Connexion <i class="fas fa-sign-in-alt"></i></button>
            </form>
            <div class="card-footer bg-white text-center">
              <div class="my-auto">
                <a href="https://www.helha.be/"><img class="helhaImg" src="../../assets/img/redirectionImg/helha.png"></a>
                <a href="https://www.unamur.be/"><img class="unamerImg" src="../../assets/img/redirectionImg/unamur.png"></a>
                <!-- <a href="https://www.rqs.be/"> <img class="rqsImg" src="../../assets/img/redirectionImg/rqs.png"></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showAlert == true" class="alert alert-info alert-dismissible fade show fixed-top mt-1 mr-4 ml-4 alertFont" role="alert">
    <strong>Ce site assure la gestion éditoriale de la Revue des Questions Scientifiques et est réservé aux collaborateurs de celle-ci.</strong><br/>
    Si vous êtes un auteur souhaitant obtenir des informations sur vos publications, vous êtes invité à contacter directement le rédacteur en chef.<br/>
    Si vous êtes un internaute qui souhaitent simplement consulter le site public <a href="https://www.rqs.be/">cliquez ici</a>
    <button (click)="showAlert = false" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
