<div class="d-flex">

  <!-- Panel sur le côté -->
  <div>
    <div *ngIf="menuToggle" class="bg-dark border-dark border-right border-bottom divHover">
      <!-- Nom du site et button pour revenir à l'accueil -->
      <h3 (click)="changeTab('gestio')" class="border-dark border-bottom text-white p-2 my-auto mx-auto">RQS INTRANET</h3>

      <!-- Boutons pour naviguer dans les différents tabs -->
      <div *ngIf="menuToggle" class="border-right">
        <div class="list-group list-group-flush" id="panelList" role="tablist">

          <!-- Recherche -->
          <a href="gestio#recherche" (click)="changeTab('recherche')"
            class="list-group-item list-group-item-action itemHover"
            [ngClass]="{'active':tabSelected === 'recherche' }">Recherche</a>

          <!-- Nouveau projet -->
          <a href="gestio#nouveauProjet" (click)="changeTab('nouveauProjet')"
            class="list-group-item list-group-item-action itemHover"
            [ngClass]="{'active':tabSelected === 'nouveauProjet' }">Nouveau projet</a>

          <!-- Nouveau compte rendu -->
          <a href="gestio#nouveauCompteRendu" (click)="changeTab('nouveauCompteRendu')"
            class="list-group-item list-group-item-action itemHover"
            [ngClass]="{'active':tabSelected === 'nouveauCompteRendu' }">Nouveau compte rendu</a>

          <!-- Revues -->
          <a href="gestio#revues" (click)="changeTab('revues')"
            class="list-group-item list-group-item-action itemHover"
            [ngClass]="{'active':tabSelected === 'revues' }">Revues</a>

          <!-- Publications en cours -->
          <a href="gestio#publicationsEnCours" (click)="collapseList('publicationsEnCoursList')"
            class="list-group-item list-group-item-action itemHover" [ngClass]="{'border-light': publicationsEnCoursList}">
            Publications en cours <i [ngClass]="{'fa-angle-up': publicationsEnCoursList}" class="fas fa-angle-down align-middle"></i></a>
            <!-- Liste des publications en cours -->
            <a *ngIf="publicationsEnCoursList" href="gestio#articlesEnCours" (click)="changeTab('articlesEnCours')"
              class="list-group-item list-group-item-action itemHover border-light"
              [ngClass]="{'active':tabSelected === 'articlesEnCours' }">Articles</a>

            <a *ngIf="publicationsEnCoursList" href="gestio#analysesCritiqueEnCours" (click)="changeTab('analysesCritiqueEnCours')"
              class="list-group-item list-group-item-action itemHover border-light"
              [ngClass]="{'active':tabSelected === 'analysesCritiqueEnCours' }">Analyses critiques</a>

            <a *ngIf="publicationsEnCoursList" href="gestio#comptesRendusEnCours" (click)="changeTab('comptesRendusEnCours')"
              class="list-group-item list-group-item-action itemHover border-light"
              [ngClass]="{'active':tabSelected === 'comptesRendusEnCours' }">Comptes rendus</a>

            <a *ngIf="publicationsEnCoursList" href="gestio#diversEnCours" (click)="changeTab('diversEnCours')"
              class="list-group-item list-group-item-action itemHover border-light"
              [ngClass]="{'active':tabSelected === 'diversEnCours' }">Divers</a>

            <a *ngIf="publicationsEnCoursList" href="gestio#specialHelhaEnCours" (click)="changeTab('specialHelhaEnCours')"
              class="list-group-item list-group-item-action itemHover"
              [ngClass]="{'active':tabSelected === 'specialHelhaEnCours' }">Spéciale HELHa</a>
            <!-- Liste des publications en cours -->
          <!-- Publications en cours -->

          <!-- Publications terminées -->
          <a href="gestio#publicationsTerminées" (click)="collapseList('publicationsTermineesList')"
            class="list-group-item list-group-item-action itemHover" [ngClass]="{'border-light': publicationsTermineesList}">
            Publications terminées <i [ngClass]="{'fa-angle-up': publicationsTermineesList}" class="fas fa-angle-down align-middle"></i></a>
            <!-- Liste des publications terminées -->
            <a *ngIf="publicationsTermineesList" href="gestio#articlesTerminees" (click)="changeTab('articlesTerminees')"
              class="list-group-item list-group-item-action itemHover border-light"
              [ngClass]="{'active':tabSelected === 'articlesTerminees' }">Articles</a>

            <a *ngIf="publicationsTermineesList" href="gestio#analysesCritiqueTerminees" (click)="changeTab('analysesCritiqueTerminees')"
              class="list-group-item list-group-item-action itemHover border-light"
              [ngClass]="{'active':tabSelected === 'analysesCritiqueTerminees' }">Analyses critiques</a>

            <a *ngIf="publicationsTermineesList" href="gestio#comptesRendusTerminees" (click)="changeTab('comptesRendusTerminees')"
              class="list-group-item list-group-item-action itemHover border-light"
              [ngClass]="{'active':tabSelected === 'comptesRendusTerminees' }">Comptes rendus</a>

            <a *ngIf="publicationsTermineesList" href="gestio#diversTerminees" (click)="changeTab('diversTerminees')"
              class="list-group-item list-group-item-action itemHover border-light"
              [ngClass]="{'active':tabSelected === 'diversTerminees' }">Divers</a>

            <a *ngIf="publicationsTermineesList" href="gestio#specialHelhaTerminees" (click)="changeTab('specialHelhaTerminees')"
              class="list-group-item list-group-item-action itemHover"
              [ngClass]="{'active':tabSelected === 'specialHelhaTerminees' }">Spéciale HELHa</a>
            <!-- Liste des publications terminées -->
          <!-- Publications terminées -->

          <!-- Livres -->
          <a href="gestio#livres" (click)="collapseList('livresList')"
            class="list-group-item list-group-item-action itemHover" [ngClass]="{'border-light': livresList}">
            Livres <i [ngClass]="{'fa-angle-up': livresList}" class="fas fa-angle-down align-middle"></i></a>
            <!-- Liste livres -->
            <a *ngIf="livresList" href="gestio#livresTous" (click)="changeTab('livresTous')"
              class="list-group-item list-group-item-action itemHover border-light"
              [ngClass]="{'active':tabSelected === 'livresTous' }">Tous</a>

            <a *ngIf="livresList" href="gestio#livresEnAttenteAction" (click)="changeTab('livresEnAttenteAction')"
              class="list-group-item list-group-item-action itemHover border-light"
              [ngClass]="{'active':tabSelected === 'livresEnAttenteAction' }">En attente d'action</a>

            <a *ngIf="livresList" href="gestio#livresEnDemande" (click)="changeTab('livresEnDemande')"
              class="list-group-item list-group-item-action itemHover border-light"
              [ngClass]="{'active':tabSelected === 'livresEnDemande' }">En demande</a>

            <a *ngIf="livresList" href="gestio#livresEnRedaction" (click)="changeTab('livresEnRedaction')"
              class="list-group-item list-group-item-action itemHover border-light"
              [ngClass]="{'active':tabSelected === 'livresEnRedaction' }">En rédaction</a>

            <a *ngIf="livresList" href="gestio#livresEnProduction" (click)="changeTab('livresEnProduction')"
              class="list-group-item list-group-item-action itemHover border-light"
              [ngClass]="{'active':tabSelected === 'livresEnProduction' }">En production</a>

            <a *ngIf="livresList" href="gestio#livresPublies" (click)="changeTab('livresPublies')"
              class="list-group-item list-group-item-action itemHover"
              [ngClass]="{'active':tabSelected === 'livresPublies' }">Publiés</a>
            <!-- Liste livres -->
          <!-- Livres -->

          <!-- Personnes -->
          <a href="gestio#personnes" (click)="collapseList('personnesList')"
            class="list-group-item list-group-item-action itemHover" [ngClass]="{'border-light': personnesList}">
            Personnes <i [ngClass]="{'fa-angle-up': personnesList}" class="fas fa-angle-down align-middle"></i></a>
            <!-- Liste personnes -->
            <a *ngIf="personnesList" href="gestio#personnesToutes" (click)="changeTab('personnesToutes')"
              class="list-group-item list-group-item-action itemHover border-light"
              [ngClass]="{'active':tabSelected === 'personnesToutes' }">Toutes</a>

            <a *ngIf="personnesList" href="gestio#personnesAuteurs" (click)="changeTab('personnesAuteurs')"
              class="list-group-item list-group-item-action itemHover border-light"
              [ngClass]="{'active':tabSelected === 'personnesAuteurs' }">Auteurs</a>

            <a *ngIf="personnesList" href="gestio#personnesRecenseurs" (click)="changeTab('personnesRecenseurs')"
              class="list-group-item list-group-item-action itemHover border-light"
              [ngClass]="{'active':tabSelected === 'personnesRecenseurs' }">Recenseurs</a>

            <a *ngIf="personnesList" href="gestio#personnesExperts" (click)="changeTab('personnesExperts')"
              class="list-group-item list-group-item-action itemHover border-light"
              [ngClass]="{'active':tabSelected === 'personnesExperts' }">Experts</a>

            <a *ngIf="personnesList" href="gestio#personnesDivers" (click)="changeTab('personnesDivers')"
              class="list-group-item list-group-item-action itemHover"
              [ngClass]="{'active':tabSelected === 'personnesDivers' }">Divers</a>
            <!-- Liste personnes -->
          <!-- Personnes -->

          <!-- Domaines -->
          <a href="gestio#domaines" (click)="changeTab('domaines')"
            class="list-group-item list-group-item-action itemHover"
            [ngClass]="{'active':tabSelected === 'domaines' }">Domaines</a>

          <!-- Éditeurs -->
          <a href="gestio#editeurs" (click)="changeTab('editeurs')"
            class="list-group-item list-group-item-action itemHover"
            [ngClass]="{'active':tabSelected === 'editeurs' }">Éditeurs</a>

          <!-- Paramètres de connexion -->
          <a href="gestio#parametresDeConnexion" (click)="changeTab('parametresDeConnexion')" class="list-group-item list-group-item-action itemHover"
            [ngClass]="{'active':tabSelected === 'parametresDeConnexion' }">Paramètres de connexion</a>

          <!-- Déconnexion -->
          <a href="lienamettre" class="list-group-item list-group-item-action itemHover">Deconnexion</a>

        </div>
      </div>
    </div>

  </div>

  <!-- Contenu de la page -->
  <div class="flex-grow-1">
    <!-- Barre au dessus de la page -->
    <div (click)="toggleMenu()" class="bg-light border-dark border-bottom divHover">
      <h3 class="p-2 my-auto"><i class="fas fa-bars"></i> Gestionnaire</h3>
    </div>

    <!-- Contenu principal -->
    <div class="ml-1 mt-1 mb-1 mr-1">
      <div class="tab-content">
        <!-- Les différentes tabs affichables -->
        <div [ngSwitch]="tabSelected">

          <!-- Recherche -->
          <div *ngSwitchCase="'recherche'"><app-tab-recherche></app-tab-recherche></div>

          <!-- Nouveau projet -->
          <div *ngSwitchCase="'nouveauProjet'"><app-tab-nouveauprojet></app-tab-nouveauprojet></div>

          <!-- Nouveau compte rendu -->
          <div *ngSwitchCase="'nouveauCompteRendu'"><app-tab-nouveaucompterendu></app-tab-nouveaucompterendu></div>

          <!-- Revues -->
          <div *ngSwitchCase="'revues'"><app-tab-revue></app-tab-revue></div>

          <!-- Publications en cours -->
          <div *ngSwitchCase="'articlesEnCours'"><app-tab-articles></app-tab-articles></div>
          <div *ngSwitchCase="'analysesCritiqueEnCours'"><app-tab-analysescritique></app-tab-analysescritique></div>
          <div *ngSwitchCase="'comptesRendusEnCours'"><app-tab-comptesrendus></app-tab-comptesrendus></div>
          <div *ngSwitchCase="'diversEnCours'"><app-tab-divers></app-tab-divers></div>
          <div *ngSwitchCase="'specialHelhaEnCours'"><app-tab-specialhelha></app-tab-specialhelha></div>
          <!-- Publications en cours -->

          <!-- Publications terminées -->
          <div *ngSwitchCase="'articlesTerminees'"><app-tab-articles></app-tab-articles></div>
          <div *ngSwitchCase="'analysesCritiqueTerminees'"><app-tab-analysescritique></app-tab-analysescritique></div>
          <div *ngSwitchCase="'comptesRendusTerminees'"><app-tab-comptesrendus></app-tab-comptesrendus></div>
          <div *ngSwitchCase="'diversTerminees'"><app-tab-divers></app-tab-divers></div>
          <div *ngSwitchCase="'specialHelhaTerminees'"><app-tab-specialhelha></app-tab-specialhelha></div>
          <!-- Publications terminées -->

          <!-- livres -->
          <div *ngSwitchCase="'livresTous'"><app-tab-livres></app-tab-livres></div>
          <div *ngSwitchCase="'livresEnAttenteAction'"><app-tab-livres></app-tab-livres></div>
          <div *ngSwitchCase="'livresEnDemande'"><app-tab-livres></app-tab-livres></div>
          <div *ngSwitchCase="'livresEnRedaction'"><app-tab-livres></app-tab-livres></div>
          <div *ngSwitchCase="'livresEnProduction'"><app-tab-livres></app-tab-livres></div>
          <div *ngSwitchCase="'livresPublies'"><app-tab-livres></app-tab-livres></div>
          <!-- livres -->

          <!-- Personnes -->
          <div *ngSwitchCase="'personnesToutes'"><app-tab-personnes></app-tab-personnes></div>
          <div *ngSwitchCase="'personnesAuteurs'"><app-tab-personnes></app-tab-personnes></div>
          <div *ngSwitchCase="'personnesRecenseurs'"><app-tab-personnes></app-tab-personnes></div>
          <div *ngSwitchCase="'personnesExperts'"><app-tab-personnes></app-tab-personnes></div>
          <div *ngSwitchCase="'personnesDivers'"><app-tab-personnes></app-tab-personnes></div>
          <!-- Personnes -->

          <!-- Domaines -->
          <div *ngSwitchCase="'domaines'"><app-tab-domaine></app-tab-domaine></div>

          <!-- Éditeurs -->
          <div *ngSwitchCase="'editeurs'"><app-tab-editeurs></app-tab-editeurs></div>

          <!-- Paramètres de connexion -->
          <div *ngSwitchCase="'parametresDeConnexion'"><app-tab-parametredeconnexion></app-tab-parametredeconnexion></div>

          <!-- Par défaut affiche : accueil -->
          <div *ngSwitchDefault>
            <!-- Message de bienvenue -->
            <div *ngIf="showBvnMessage" class="alert alert-success alert-dismissible fade show alertFont m-1" role="alert">
              <h3>Content de vous revoir {{user.prenom_pers}} !</h3>
              <button (click)="showBvnMsg()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- Admin/Gestio component -->
            <app-accueil-admin-gestio></app-accueil-admin-gestio>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>
