<div class="container-fluid card rounded">
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="4">
          <h2>Éditeurs | Liste complète</h2>
        </th>
        <th></th>
      </tr>
      <tr>
        <th class="text-center" scope="col">Nom</th>
        <th class="text-center" scope="col">Classement</th>
        <th class="text-center" scope="col">Correspondant</th>
        <th class="text-center" scope="col">Mail</th>
        <th class="text-center" scope="col">Numero</th>
        <th class="text-center" scope="col">Rue</th>
        <th class="text-center" scope="col">CP</th>
        <th class="text-center" scope="col">Ville</th>
        <th class="text-right"><button type="button" class="btn btn-secondary" (click)="openSm(ajouter)">Ajouter un editeur <i class="fas fa-plus-square"></i></button></th>
        <!-- bouton pour ajouter un éditeur -->
        <ng-template #ajouter let-modal>
          <div class="modal-header text-center">
            <h4 class="modal-title">Ajout</h4>
            <button type="button" class="close" aria-label="Close" (click)="onCancel(modal);">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

              <div class="form-group col-md-6">
                <label for="ajoutNom">Nom</label>
                <input [(ngModel)]="ajoutMaisonEdition.nom" type="text" class="form-control" id="ajoutNom">
                <label for="ajoutNomClassement">Nom de classement</label>
                <input [(ngModel)]="ajoutMaisonEdition.nomClassement" type="text" class="form-control" id="ajoutNomClassement">
              </div>
              <div class="form-group col-md-6">
                <label for="ajoutNomCorrespondant">Nom correspondant</label>
                <input [(ngModel)]="ajoutMaisonEdition.nomCorrespondant" type="text" class="form-control" id="ajoutNomCorrespondant">
                <label for="ajoutMailCorrespondant">Mail correspondant</label>
                <input [(ngModel)]="ajoutMaisonEdition.mailCorrespondant" type="text" class="form-control" id="ajoutMailCorrespondant">
              </div>
              <div class="form-group col-md-6">
                <fieldset>
                  <legend>Adresse</legend>
                  <label for="ajoutAdrNumero">Numero</label>
                  <input [(ngModel)]="ajoutMaisonEdition.adrNumero" type="text" class="form-control" id="ajoutAdrNumero">
                  <label for="ajoutAdrRue">Rue</label>
                  <input [(ngModel)]="ajoutMaisonEdition.adrRue" type="text" class="form-control" id="ajoutAdrRue">
                  <label for="ajoutAdrCp">Code postal</label>
                  <input [(ngModel)]="ajoutMaisonEdition.adrCp" type="text" class="form-control" id="ajoutAdrCp">
                  <label for="ajoutAdrVille">Ville</label>
                  <input [(ngModel)]="ajoutMaisonEdition.adrVille" type="text" class="form-control" id="ajoutAdrVille">
                </fieldset>
              </div>
            </div>

          <div class="modal-footer">
            <button type="reset" class="btn btn-primary" (click)="modal.close('Close click'); ajouterMaisonEdition(ajoutMaisonEdition)">Ajouter</button>
            <button type="button" class="btn btn-secondary" (click)="modal.close('Close click'); initAjoutME()">Annuler</button>
          </div>
        </ng-template>
        <!-- bouton pour ajouter un éditeur -->
      </tr>
    </thead>
    <tbody>
      <!-- récupère tous les éditeurs dans la db -->
      <tr *ngFor="let me of listeMaisonEditions">
        <td class="text-center">{{me.nom}}</td>
        <td class="text-center">{{me.nomClassement}}</td>
        <td class="text-center">{{me.nomCorrespondant}}</td>
        <td class="text-center">{{me.mailCorrespondant}}</td>
        <td class="text-center">{{me.adrNumero}}</td>
        <td class="text-center">{{me.adrRue}}</td>
        <td class="text-center">{{me.adrCp}}</td>
        <td class="text-center">{{me.adrVille}}</td>
        <!--
        <td class="text-center">
          <i class="fas" [ngClass]="{'fa-check':me.special_helha_rev == 1, 'fa-times':revue.special_helha_rev == 0}"></i>
        </td> -->
        <td class="text-right align-middle">
          <!-- bouton pour modifier un éditeur -->
          <span class="divHover align-middle mr-2" id="modifyMaisonEdition" (click)="openSm(modif); fillMeForModif(me.id)"><i class="fas fa-edit"></i></span>

          <!-- bouton pour supprimer un éditeur -->
          <span class="divHover align-middle" id="deleteMaisonEdition" (click)="openSm(delete)"><i class="fas fa-trash"></i></span>
        </td>
        <ng-template #delete let-modal>
          <div class="modal-header text-center">
            <h4 class="modal-title">Attention !</h4>
            <button type="button" class="close" aria-label="Close" (click)="onCancel(modal);">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Êtes-vous sûr de vouloir effacer cet éditeur ?</p>
          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-danger" (click)="modal.close('Close click'); deleteMaisonEdition(me.id)">Confirmer</button>
            <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Annuler</button>
          </div>
        </ng-template>
        <ng-template #modif let-modal>
          <div class="modal-header text-center">
            <h4 class="modal-title">Confirmer</h4>
            <button type="button" class="close" aria-label="Close" (click)="onCancel(modal);">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

              <div class="form-group col-md-6">
                <label for="ajoutNom">Nom</label>
                <input [(ngModel)]="ajoutMaisonEdition.nom" type="text" class="form-control" id="ajoutNom">
                <label for="ajoutNomClassement">Nom de classement</label>
                <input [(ngModel)]="ajoutMaisonEdition.nomClassement" type="text" class="form-control" id="ajoutNomClassement">
              </div>
              <div class="form-group col-md-6">
                <label for="ajoutNomCorrespondant">Nom correspondant</label>
                <input [(ngModel)]="ajoutMaisonEdition.nomCorrespondant" type="text" class="form-control" id="ajoutNomCorrespondant">
                <label for="ajoutMailCorrespondant">Mail correspondant</label>
                <input [(ngModel)]="ajoutMaisonEdition.mailCorrespondant" type="text" class="form-control" id="ajoutMailCorrespondant">
              </div>
              <div class="form-group col-md-6">
                <fieldset>
                  <legend>Adresse</legend>
                  <label for="ajoutAdrNumero">Numero</label>
                  <input [(ngModel)]="ajoutMaisonEdition.adrNumero" type="text" class="form-control" id="ajoutAdrNumero">
                  <label for="ajoutAdrRue">Rue</label>
                  <input [(ngModel)]="ajoutMaisonEdition.adrRue" type="text" class="form-control" id="ajoutAdrRue">
                  <label for="ajoutAdrCp">Code postal</label>
                  <input [(ngModel)]="ajoutMaisonEdition.adrCp" type="text" class="form-control" id="ajoutAdrCp">
                  <label for="ajoutAdrVille">Ville</label>
                  <input [(ngModel)]="ajoutMaisonEdition.adrVille" type="text" class="form-control" id="ajoutAdrVille">
                </fieldset>
              </div>
            </div>

          <div class="modal-footer">
            <button type="reset" class="btn btn-danger" (click)="modal.close('Close click'); modifierMaisonEdition(ajoutMaisonEdition)">Modifier</button>
            <button type="button" class="btn btn-secondary" (click)="modal.close('Close click'); initAjoutME() ">Annuler</button>
          </div>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>
