<div class="container-fluid">
  <div class="col card rounded">
    <div class="mb-3">
      <h4 class="mt-1 mb-1" >Échéances</h4>
      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let echance of echeances; let index = index" [ngClass]="{'bg-dark text-white': 1 === index%2}">
            <td class="col-sm-2 text-center">{{echance.date | date: 'dd/LL/yyyy à HH:mm'}}</td>
            <td class="text-left">{{echance.libelle}}</td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-secondary">Voir plus d'échéances <i class="fas fa-plus-square"></i></button>
    </div>
  </div>
</div>
